.address-and-payment-container {
  display: flex;
  width: 900px;
  justify-content: space-between;
  margin: 30px auto;

  button {
    width: 100%;
    margin-top: 30px;
  }

  .spinner-overlay {
    height: 0;
    margin-top: 50px;
  }

  .payment-container {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 980px) {
  .address-and-payment-container {
    width: auto;
  }
}

@media (max-width: 860px) {
  .address-and-payment-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: fit-content;
    justify-content: center;
    gap: 30px;
  }
}
